{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>


<section class="about-w3ls py-5">
    <div class="container pt-xl-5 pb-lg-3">
    <h2 class="heading-agileinfo">Faculty of <span>Graduate Studies and Research Development</span></h2>
      <div class="row mt-md-5 pt-4">
        <div class="col-lg-6 section-4">
          <div class="agil_mor">
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">PHILOSOPHY </span>
            </p>
            </div>
          
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">MISSION STATEMENT</span>
                The Faculty of Commerce exists to provide quality, holistic and transformational academic delivery, research, mentoring and building sustainable relationships with students and industry based on the Seventh-day Adventist church philosophy of Education in order to equip students for useful service to God and the community, and to enjoy productive lives.
              </p>
            </div>
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">DEPARTMENTS AND DEGREES </span><br>
                <b>A. Department of Commerce</b><br>
                • MBA<br>
                <b>B. Department of Education</b><br>
                • MEd Educational Leadership <br>                                                                                                                                                                                                                                                   • MEd English
                <b>C. Department of Science</b>
                • MSc Fashion Design<br>
                • MSc Food Science and Nutrition<br>	
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h5 style="text-align: center;">Dean</h5>
  <br>
          <img src="{% static 'images/dean sibanda.PNG' %}" alt="" class="img-section4 img-fluid">
        <br>
        <br>
          <h5 style="text-align: center;">Prof. Henry Sibanda, PhD</h5>
          <br>
					<p>

           
						<span ><strong>Dr. lvonne Ndlovu, PhD </strong></span>Chair person in Accounting <br>
					</p>
        </div>
      </div>
    </div>
  </section>

  <section class="grad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 w3layouts_getin_info">
                <h3>We Make the Best Institute</h3>
            </div>
      
        </div>
    </div>
    </section>

  <section class="about-w3ls py-5">
    <div class="container pt-xl-5 pb-lg-3">
    <h2 class="heading-agileinfo">Pr<span>ogramme Requirements</span></h2>
      <div class="row mt-md-5 pt-4">
        <div class="col-lg-8 ">
          <div class="agil_mor">
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MBA:</span><br>
              <br>
              <span style="color: #000;">A bachelor’s degree in Business Administration</span> with a cumulative GPA of 2.50, or upper second class or better from a recognised university; or a recognized professional qualification deemed to be equivalent of a degree
              <br>
              <span style="color: #000;">A  bachelor’s  degree  of  any  faculty</span>  from  a  recognized  university,  with  a cumulative GPA of 2.50 or upper second class or better (Applicants with a degree other than in business administration may be admitted with a requirement to do relevant bridging courses.)
              <br>
              <span style="color: #000;">A  Post  Graduate  Diploma  in  Business  Administration  (PGDBA)</span>  from  any recognised university, with a cumulative GPA of 2.50 or higher.

            </p> </div>
     
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;"> PGDE:</span><br>
              <br>
              <span style="color: #000;">A recognized</span> undergraduate degree.
            </p></div>

            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MEd:</span><br>
              <br>
              <span style="color: #000;">BEd or a recognised Bachelor</span> with Education degree with a GPA of 2.75/first or upper second-class OR Post Graduate Diploma in Education.
            </p></div>


            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MSc:</span><br>
              <br>
              <span style="color: #000;">Bachelor’s degree</span>in a relevant field.
            </p></div>



          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endblock %}

