
{% extends 'base1.html' %}
{% load static %}

{% block content %}


<!-- stats -->
<section class="stats">
<div class="container py-md-4 mt-md-3">
    <h3 class="heading-agileinfo">Our  <span>Achievements</span></h3>
    <span class="w3-line black"></span>	
    <div class="row inner_w3l_agile_grids-1 pt-md-5 mt-4">
        <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid">
            <p class="counter">2001</p>
            <h3>Year of Foundation</h3>
        </div>
        <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid1">
            <p class="counter">765</p>
            <h3>Graduates</h3>
        </div>
        <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid2">
            <p class="counter">125</p>
            <h3>Certified Staff</h3>
        </div>
        <div class="col-lg-3 col-sm-6 w3layouts_stats_left w3_counter_grid2">
            <p class="counter">150</p>
            <h3>Students</h3>
        </div>
    </div>
</div>	
</section>
<!-- //stats -->
<!-- about-grid  -->
<section class="w3l-abt">
<div class="container">
    <div class="row about-grid">
        <div class="col-lg-4 about-grid-lft py-md-5 py-3">
            <div class="row about-bottom-right mt-3 py-2">
                <div class="col-sm-3 abouthome-grid">
                    <span class="hi-icon hi-icon-archive fa fa-check"> </span>
                </div>
                <div class="col-sm-9 about-bottom1">
                    <h5>vision</h5>
                    <p>To Attain Excellence in All Aspects of University Life</p>
                </div>
                    
            </div>
            <div class="row about-bottom-right mt-3">
                <div class="col-sm-3 abouthome-grid">
                    <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
                </div>
                <div class="col-sm-9 about-bottom1">
                    <h5>affordable</h5>
                    <p>Elit consectetur adipiscing estibulum nibh urna</p>
                </div>
                    
            </div>
        </div>	
        <div class="col-lg-4 w3l_about-img">
            <img src="{% static 'images/grads.png' %}" alt="" class="img-section4 img-fluid">
        </div>
        <div class="col-lg-4 about-grid-rgt py-md-5">
            <div class="row about-bottom-right mt-3 py-2">
                
                <div class="col-sm-9 about-bottom1 text-right">
                    <h5>Mission</h5>
                    <p style="text-align: justify; text-justify: inter-word;">Solusi University exists to provide quality wholistic and transformational education based on the Seventh-day Adventist church philosophy of Education in order to equip students for useful service to God and the community, and to enjoy productive lives</p>
                </div>
                <div class="col-sm-3 abouthome-grid">
                    <span class="hi-icon hi-icon-archive fa fa-check"> </span>
                </div>
                    
            </div>
            
        </div>
    </div>
</div>
</section>
<!-- about-grid  -->

<section class="what_you w3-about py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">Our  <span>Programmes</span></h2>
        <span class="w3-line black"></span>
        <div class="row about-info-grids mt-md-5 pt-5">
            <div class="col-md-4  media service-box">
                <div class="pull-left"> <i class="fa fa-line-chart"></i> </div>
                <div class="media-body">
                  <h5 class="media-heading">Information Systems</h5>
                  <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                </div>
              </div>
                <div class="col-md-4 media service-box">
                  <div class="pull-left"> <i class="fa fa-cubes"></i> </div>
                  <div class="media-body">
                    <h5 class="media-heading">Finance</h5>
                    <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                  </div>
                </div>
              
        <div class="col-md-4 media service-box">
            <div class="pull-left"> <i class="fa fa-pie-chart"></i> </div>
            <div class="media-body">
            <h5 class="media-heading">Marketing</h5>
            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
            </div>
        </div>
        </div>
        <div class="bord"></div>
        <div class="row about-info-grids">
            <div class="col-md-4 media service-box">
                <div class="pull-left"> <i class="fa fa-bar-chart"></i> </div>
                <div class="media-body">
                  <h5 class="media-heading">Agribusiness</h5>
                  <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                </div>
              </div>
              <div class="col-md-4  media service-box">
                <div class="pull-left"> <i class="fa fa-language"></i> </div>
                <div class="media-body">
                  <h5 class="media-heading">English and Communication</h5>
                  <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                </div>
              </div>
              <div class="col-md-4 media service-box">
                <div class="pull-left"> <i class="fa fa-bullseye"></i> </div>
                <div class="media-body">
                  <h5 class="media-heading">Master in Theology</h5>
                  <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                </div>
              </div>
        </div>
</div>
</section>
<!-- //services -->
<!-- testimonials -->

<!-- //testimonials -->

<!-- more -->
<section class="about-w3ls py-5">
<div class="container pt-xl-5 pb-lg-3">
<h2 class="heading-agileinfo">Why <span> Use Us</span></h2>
    <div class="row mt-md-5 pt-4">
        <div class="col-lg-6 section-4">
            <div class="agil_mor">
                <div class="agileits-abt-grids mb-4">
                    
                    <p class="sec-4"><span style="color: #cc3333; text-align: justify; text-justify: inter-word;">1. International Networks</span> Our courses open doors to rewarding and challenging careers in health, science, arts, theology and business. You’ll benefit from our international 
                        environment where students gain cultural perspectives and develop international networks 
                    </p>
                </div>
                <div class="agileits-abt-grids mb-4">
                    
                    <p class="sec-4"><span style="color: #cc3333; text-align: justify; text-justify: inter-word;">2. Student Contact Hours </span>
                        Solusi’s transformational education system and leadership training includes mandatory class attendance, prescribed level of
                         teacher student contact and participation in group learning environment.                    </p>
                </div>
                <div class="agileits-abt-grids mb-4">
                    
                    <p class="sec-4"><span style="color: #cc3333; text-align: justify; text-justify: inter-word;">3. Development of self discipline </span>
                        Self discipline across all critical spheres of life including dress, 
                        is a hallmark of Solusi University’s transformational and redemptive education system.                    </p>
                </div>
                <div class="agileits-abt-grids">
                    
                    <p class="sec-4"><span style="color: #cc3333; text-align: justify; text-justify: inter-word;">4. Superb location</span>
                        Our out of town location provides an excellent learning environment on a 
                        campus free from corruption, drug abuse and sexual harassment 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/g1.jpg' %}" alt="" class="img-section4 img-fluid">
        </div>
    </div>
</div>
</section>



{% endblock %}